.group-move,
.group-enter-active,
.group-leave-active {
  transition: all 0.3s ease-in;
}
.group-enter-from,
.group-leave-to {
  opacity: 0;
  transform-origin: left bottom;
  transform: scale(0.5) translateX(-10px);
}
.group-leave-active {
  position: absolute;
  z-index: -1;
}
